
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


header {
    .title{
        font-family: "Edu TAS Beginner", cursive;
        font-weight: 500;
        font-size: 5rem;
    }
}


.card-custom {
    .card-date{
        font-family: "Sometype Mono", monospace;
        color: grey;
    }

    .card-title {
        font-family: "Edu TAS Beginner", cursive;
        font-weight: 700;
        text-transform:uppercase
    }
}









