
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card-custom:hover {

    transform: scale(1.05);
    transform: rotate(10deg);
    background-color: black;
    z-index: 1;
    cursor: pointer;
    box-shadow: 1rem 1rem 1rem 1rem rgba(0, 0, 0, 0.2);

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.overlay-container {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}


header {
    .title{
        font-family: "Edu TAS Beginner", cursive;
        font-weight: 700;
        font-size: 5rem;
    }
}

.card-custom {

    background-color: black;
    .card-date{
        font-family: "Sometype Mono", monospace;
        color: grey;
        transition: transform .2s
    }



    .card-title {
        font-family: "Edu TAS Beginner", cursive;
        font-weight: 700;
        text-transform:uppercase
    }
}

/* Media query for medium screen */
@media screen and (max-width: 992px) {

    header {
        .title{
            font-size: 4rem;
        }
    }


}




/* Media query for small screen */
@media screen and (max-width: 768px) {

    header {
        .title{
            font-size: 2.5rem;
        }
    }

}










