
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}


header {
    .title{
        font-family: "Edu TAS Beginner", cursive;
        font-weight: 500;
        font-size: 5rem;
    }
}

.row {
    
}

.card-custom {
    .card-date{
        font-family: "Sometype Mono", monospace;
        color: grey;
    }

    .card-title {
        font-family: "Edu TAS Beginner", cursive;
        font-weight: 700;
        text-transform:uppercase
    }
}

/* Media query for medium screen */
@media screen and (max-width: 992px) {

    header {
        .title{
            font-size: 4rem;
        }
    }


}




/* Media query for small screen */
@media screen and (max-width: 768px) {

    header {
        .title{
            font-size: 2.5rem;
        }
    }

}










